@media screen and (min-width: 1300px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1300px) {
  .contents .contentBox {
    height: 300px;
  }
  .sub_box2 .text_box .para_box b {
    margin-right: -180px;
  }
  .text_box {
    margin-top: 35%;
    transform: translateY(-50%);
  }
  .sub_box1 .text_box {
    margin-top: -60%;
    transform: translateY(0);
  }
  .sub_wrap .sub_box .text_box .para_box p {
    width: 110%;
  }
  .sub_box1 .text_box p {
    margin-left: 50px;
  }
  .sub_box2 .text_box p {
    margin-left: -80px;
  }
  .sub_box2 .text_box h3 {
    margin-left: -80px;
  }
}
@media screen and (max-width: 1120px) {
  .sub_box.sub_box2 {
    margin-top: -200px;
  }
  .sub_box2 .text_box .para_box b {
    margin-right: -230px;
  }
}

@media screen and (max-width: 960px) {
  .main_page {
    width: 100%;
    margin-left: 0;
    margin-top: -10px;
  }
  .sub_wrap .center {
    width: 100%;
    margin: 0;
  }
  #side_bar {
    display: none;
  }
  #full_menu {
    width: 100%;
  }
  .text_box {
    margin-top: -150px;
    width: 37%;
  }
  .text_box .para_box p {
    width: 100%;
    transform: translate(0, 50%);
  }
  .main_box:nth-child(5) .text_box {
    float: left;
    margin-top: 10px;
    transform: translateY(-100px);
  }
  .main_box:nth-child(5) .text_box p {
    margin: 0;
  }
  .sub_wrap .sub_box .sub_img_box {
    width: 45%;
  }
  .sub_wrap .sub_box {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
  }
  .sub_wrap .sub_box .text_box {
    width: 85%;
  }
  .sub_wrap .sub_box .text_box .para_box p {
    width: 55%;
  }

  .sub_box1 .text_box {
    margin-right: -170px;
  }
  .sub_box.sub_box2 {
    margin: -80px 0 0 0;
  }
  .sub_box2 .text_box .para_box p {
    margin-left: -30px;
  }
  .sub_box2 .text_box .para_box b {
    margin-right: 260px;
  }
  .text_box .link_btns {
    display: none;
  }
  .center {
    width: 100%;
    margin: 0;
  }
  .contents .contentBox {
    height: 250px;
  }
  .contents section {
    margin: 30px 0;
  }
}
@media screen and (max-width: 850px) {
  .contents .contentBox {
    margin: 10px 0;
  }
}
@media screen and (max-width: 800px) {
  #full_menu .standard_logo,
  .upper_menu a.shop_btn,
  .upper_menu a.search_btn {
    display: none;
  }
  .upper_menu {
    width: auto;
  }
  .sub_wrap .sub_box .text_box {
    width: 90%;
  }
  .item_list .list_img {
    overflow: hidden;
    height: 230px;
    margin-bottom: 50px;
  }
  .item_list .list_img a:nth-child(1),
  .item_list .list_img a:nth-child(2),
  .item_list .list_img a:nth-child(3),
  .item_list .list_img a:nth-child(4) {
    margin: 0 25px;
    width: 80%;
  }
  .item_list .list_txt {
    width: 100%;
    padding: 20%;
    float: none;
    text-align: center;
  }
  .item_list .list_img .list_menu {
    position: absolute;
  }
  .item_list .list_img a img {
    top: 200px;
  }

  /* shop page media  */
  .side_menu_box {
    display: none !important;
  }
  .contents {
    width: 100%;
    margin-top: 200px;
  }
}
@media screen and (max-width: 600px) {
  header .logo {
    display: none;
  }
  .upper_menu {
    width: 70px;
    top: 25px;
  }
  .center {
    width: 100%;
    margin: 0;
  }
  .main_box {
    margin-bottom: 40px;
  }
  .main_box .img_box {
    width: 90%;
    margin-left: 10%;
  }
  .main_box .text_box .para_box {
    width: 100%;
    transform: translateX(0);
    margin: 0;
  }
  .main_box .img_box .main_pic {
    display: none;
  }
  .main_box .img_box .media_pic {
    display: block;
  }
  #full_menu .link_btns {
    display: none;
  }
  #full_menu .center_box .menu_list {
    width: 100%;
  }
  #full_menu .center_box .introduce_box {
    width: 100%;
  }
  #full_menu .center_box .introduce_box .introduce {
    display: none;
  }
  .text_box {
    width: 80%;
    transform: translateX(-18%);
    margin-top: -16%;
  }
  .text_box .para_box p {
    display: none;
  }
  .text_box .para_box h3 {
    font-size: 30px;
  }
  .follow.text_box .para_box h3 {
    margin-top: 80px;
    margin-left: 50px;
  }
  .item_list .list_head {
    transform: translateX(0);
    margin-bottom: 50px;
  }
  .sub_wrap .sub_box {
    margin: 0 0 100px 0;
    width: 90%;
  }
  .sub_wrap .sub_box .sub_img_box {
    width: 100%;
  }
  .sub_box.sub_box2 {
    transform: translateY(0px);
  }

  .sub_box1 .text_box {
    margin-right: -10px;
    margin-top: -70px;
    text-align: right;
  }
  .sub_box2 .text_box {
    transform: translate(-25%, 0);
    text-align: left;
  }

  .sub_wrap .sub_box .sub_img_box.follow_box {
    width: 90%;
  }
  .highlight_list .list_img {
    overflow: hidden;
  }
  .contents .contentBox {
    width: 50%;
  }
}
